<p id="notice"><%= notice %></p>

<% if @program.photo.exists? then %>
<p><%= image_tag @event.photo.url(:medium) %></p>
<% else %>
<p> There are no photos attached, upload one. </p>
<% end %>

<p>
  <b>Name:</b>
  <%= @program.name %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @user.photo.url %>
</p>

<p>
  <b>Description:</b>
  <%= @program.description %>
</p>

<p>
  <b>Weekly cost:</b>
  <%= @program.weekly_cost %>
</p>

<p>
  <b>Location:</b>
  <%= @program.location %>
</p>

<p>
  <b>Organization:</b>
    <td><%= Org_Namer(@program.organization_id) %></td>
</p>

<h2>Submit a Review:</h2>
<p><%= link_to "Submit a Review", create_review_programs_path(@program)%></p>

<h2>Reviews:</h2>
<% if (@program.reviews).empty? %>
This program does not yet have any reviews.
<% else %>
	<% (@program.reviews).each do |f|%>
	<%= link_to "Review # #{f.id}", f %>
	<br />
	<% end %>
<% end %>

